@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
      .header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: #ffffff;
      font-size: 30px;
      font-family: Montserrat;
     }
      #mainpara{
        font-family: Open Sans;
        text-align: center;
        color: #ffffff;
      }
body{
  background-color: black;
  text-align: center;
}
#upload-btn{
 background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
 font-family: Open Sans;
 font-size: 11px; 
}
